.speedometer{
    height: 500px;
  width: 500px;
  background: red;
  transform: translateX(236px)translateY(23px);
  border-radius: 50%;
  
}
.speed-1{
    transform: rotate(-50deg) translateY(134px) translateX(-127px);
}